.homepage {
  background-color: #f4f4f4;
  color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.logo {
  width: 80px;
  height: auto;
  filter: invert(1);
}

.signupA {
  color: #1c64f2;
  text-decoration: none;
}

.signupA:hover {
  text-decoration: underline;
}

.headerButtons .button {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
}

.button:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.homepageContent {
  text-align: center;
  padding: 50px;
}

.container {
  display: grid;
  align-items:center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.homepageSection{
  word-wrap: normal;
  margin: 5%;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: stretch;
  width: auto;
}

.homepageHeader {
  text-align: center;
  margin: 50px;
}

.homepagePara {
  display:inline-flex;
  margin-top: 20px;
  flex-wrap: wrap;
  font-size: large;
}

.bannerImage {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-size: 14px;
}
  